# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AppMain.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\User\Documents\Projects\_testRepo\subtree\AppMain\.idea\.idea.AppMain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
